@font-face {
    font-family: "FontAwesome";
    src: url("https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
    url("https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff2") format("woff2"), 
    url("https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.woff") format("woff"), 
    url("https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.ttf") format("truetype"), 
    url("https://use.fontawesome.com/releases/v5.3.1/webfonts/fa-solid-900.svg#fontawesome") format("svg");
    font-style: normal;
    font-weight: 900;
}

.centerThings {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

@media(min-width: 768px) {
    .linhaLogin {
        border-right: 1px solid #dddddd;
    }
}

@media(max-width: 429px) {
    .navbar .navbar-brand {
        font-size: 12px !important;
    }

    .navbar .navbar-toggler-bar {
        width: 11px !important;
    }

    .navbar .navbar-toggler-bar.bar2 {
        width: 15px !important;
    }

    .navbar .navbar-toggler {
        width: 25px !important;
        height: 23px;
    }
}

.table-responsive {
    overflow: auto !important;
}


.circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-sizing: border-box;
    border: solid 10px rgba(255, 255, 255, 0.2);
    border-top-color: #FFF;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        border-top-color: #00b5de;

    }

    25% {
        border-top-color: #80c342;
    }

    50% {
        border-top-color: #f26529;
    }

    75% {
        border-top-color: #4f226d;
    }

    100% {
        border-top-color: #00b5de;
        transform: rotate(360deg);
    }
}
.navbar.navbar-transparent .nav-item.active .nav-link:not(.btn), .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):hover, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus:hover, .navbar.navbar-transparent .nav-item .nav-link:not(.btn):active {
    color: #ef8157!important;
}